body , html{
	font-family: "微軟正黑體";
	background-color: #F6F6F6;
	width: 100%;
	height: 600px;
	padding: 20px;
}
#logo{
	float:left;
	width: 250px;
	text-align: center;
}
#main{
	/*padding-top: 50px;*/
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}

/*上方選單*/
#head{
	width: 100%;
	background-color: #E6E6E6;
}
.arrow{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 15px 10px 0 10px;
	border-color: #E6E6E6 transparent transparent transparent;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	z-index: 999;
}
#navibar{
	width: 100%;
	height: 59px;
	margin-left: auto;
	margin-right: auto;
}
#navibar .navi{
	float: left;
	width: 120px;
	height: 59px;
	line-height: 59px;
	text-align: center;
	position: relative;
	color: #454648;
	font-size: 17px;
	font-weight: bold;
}

/*左側選單*/
#left-navi{
	float: left;
	width: 250px;
	height: 100%;
	background-color: #313443;
	overflow: hidden;
}
#contents{
	width: auto;
	height: auto;
	padding-left: 50px;
	padding-right: 50px;
	overflow: hidden;
	border-radius: 2px;
	background-color: #fff;
	border:1px #CACACA solid;
	margin: 20px;
}
#content-singe{
	width: 40%;
	margin: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 2px;
	background-color: #fff;
	border:1px #CACACA solid;
	padding-left: 50px;
	padding-right: 50px;	
	overflow: hidden;	
}

/*使用者訊息*/
#user-info{
	width: 100%;
	height: 80px;
	background-color: #3CBCAD;
	padding-left: 15px;
}
#user-name{
	height: 20px;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 20px;
	margin-top: 3px;
}
#user-nickname{
	height: 45px;
	color: #FFFFFF;
	line-height: 25px;
	font-size: 25px;
	padding-top: 15px;
}
#user-info-text{
	float: left;
	width: 80%;
}
#logout{
	width: 45px;
	height: 80px;
	float: right;
	background-color: #FB7171;
}

/*表格*/
.table{
	background-color: #fff;
	border-width: 0px !important;
}
.tbody{
	border-width: 0px !important;
}
.table thead{
	background-color: #fff;
	border-width: 0px !important;
}
.table thead th{
	text-align: center;
	border-width: 0px !important;
	border-bottom-width: 1px !important;
}	
.table thead a:link{
	color: #7E7E7E;
}
.filters{
	display: none;
}
.filters td{
	border-bottom-width: 1px !important;
}

/*左側選單*/
.left-navi-menu{
	width: 100%;
	height: 60px;
	color: #9A9BA5;
	padding-left: 15px;
}
.menu-title{
	height: auto;
	line-height: 25px;
	font-size: 25px;
	padding-top: 10px;	
}
.menu-remark{
	margin-top: 0px;
}
.menu-active{
	background-color: #1E202C;
	color: #FFFFFF;
}


