	#filter{
		width: 0px;
		height: 100%;
		border-left: solid 1px #e7e7e7;
		background-color: #f8f8f8;
		position: absolute;
		right: 0px;
		top: 0px;
		z-index: 9999;
		-webkit-box-shadow: -5px 0px 5px#878787;
		-moz-box-shadow: -5px 0px 5px #878787;
		box-shadow: -5px 0px 5px #878787;	
		
	}

	.nav-tabs{
		height: 42px;
	}

	#filter-list{
		height: 100%;
		width: 100%;
		display: none;
		overflow-y:auto;
		padding :15px;
		overflow-x:hidden;
	}

	.xl-checkbox{
		width: 20px;
		height: 20px;
	}

	#filter-open-btn{
		width: 30px;
		height: 30px;
		position: absolute;
		left: -30px;
		top: 80px;
		background-color: #f8f8f8;		
		border: solid 1px #e7e7e7;
		border-right: 0px;
		z-index: 99;
		font-size: 20px;
		line-height: 30px;
		padding-left: 5px;
		cursor: pointer;
		color: #646464;
		-webkit-box-shadow: -5px 0px 5px#878787;
		-moz-box-shadow: -5px 0px 5px #878787;
		box-shadow: -5px 0px 5px #878787;			
	}

	#right-main{
		padding-left: 0px;
		padding-right: 0px;
	}
	.filter-box{
		/*float: right;*/
		width: 100%;
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.nopay-btn-group{
		width: 100%;
	}
	.nopay-btn-group .btn{
		width: 33.4%;
	}
	.index-btn-group{
		width: 100%;
	}
	.index-btn-group .btn{
		width: 33.4%;
	}	
	.system-btn-group{
		width: 100%;
	}
	.system-btn-group .btn{
		width: 33.4%;
	}	

	
	.filter-datepicker{
		/*width: 280px;*/
		padding-top: 10px;
		margin-right: 0px;
		overflow: hidden;
		padding-right: 0px;
	}
	.dropList-box{
		float: left;
		/*margin-left: 15px;*/
	}
/*	.id-input{
		margin-top: 10px;
		width: 100px;
	}*/

	.input-group-addon{
		height: 30px;

	}

	#sandbox-container{
		padding-left: 0px;
		padding-right: 0px;
	}
	.id-input-group{
		/*width: 150px;*/
		height: 30px;
		margin-top: 10px;
	}

	.filter-datepicker .col-md-5{
		width: 100%;
	}

	#filter .btn-default{
		width: 100%;
	}


	.btn-default{
		font-size: 10px;
		height: 29px;
		margin-bottom: 4px;
	}

	#report{
		position: relative;
	}

	#supplier-report{
		padding:15px;
		min-height: 100%;
		
	}

	#supplier-report .dropList-box{
		float: none;
	}

	.loading-supplier-report{
		display: none;
	}

	.tab-body{
		display: none;
	}

	#def-body{
		display: block;
	}
	/*表格*/
	.tbody{
		border-width: 1px !important;
	}
	.table thead{
		border-width: 1px !important;
	}
	.table thead th{
		background-color: #f1f1f1;
	}	

	.table{
		background-color: #fff;
		border-width: 1px !important;
	}
	.tbody{
		border-width: 1px !important;
	}
	.table thead{
		background-color: #fff;
		border-width: 1px !important;
	}
	.table thead th{
		text-align: center;
		border-width: 1px !important;
		border-bottom-width: 1px !important;
	}

	.table-bordered>thead>tr>th{
		border: solid 1px #ddd;
	}
	.table thead a:link{
		color: #7E7E7E;
	}
	.filters{
		display: none;
	}
	.filters td{
		border-bottom-width: 1px !important;
	}	
	.glyphicon-save-file{
		font-size: 25px;
		width: 30px;
		height: 30px;
		color: #7E7E7E  !important;
	}
	.filters a{
		color: #7E7E7E;
	}
	#right-main{
		/*min-width: 1109px;*/
	}
	.sm-text{
		font-size: 5px;
	}

	#select-creater, #select-active{
		width: auto;
		height: 30px;
		margin-top: 10px;
		font-size: 12px;
	}

/*	@media (max-width: 1128px){
		#filter{
			height: 100px;
		}
	}*/

/*	@media (max-width: 1280px){
		#filter{
			height: 100px;
		}
		.id-input-group{
			width: 120px !important;
		}


	}*/

/*	@media (max-width: 768px){
		#filter{
			height: auto;
		}
		.filter-box{
			float: none;
			width: 95%;
			margin-left: 15px;
		}

		.id-input-group{
			width: auto !important;
		}

		.filter-datepicker{
			width: auto;
		}
	}	*/